$naranja: #c9400a;
$fondo: rgba(41, 41, 41, 0.897);
$amarillo:rgba(175, 155, 42, 0.897);
$rojo: rgb(170, 0, 11);

$paleta : (
    "naranja":#c9400a,
    "amarillo":rgba(175, 155, 42, 0.897),
    "rojo":rgb(170, 0, 11),
    "fondo":rgba(41, 41, 41, 0.897),

)
