@import "../base/variables";

.mainPublicar {
    display: flex;
    align-items: center;
   justify-content: center;
    div{
        p{
            font-weight: 700;
        }
    }
}


.d-none {
    p {
        color: rgba(175, 155, 42, 0.897);
        font-weight: 600;
        margin-top: 25px;
    }
}

.publicar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.544);
    border-radius: 15px;
    background-color: #ce6809;
    background: linear-gradient(45deg, red, #ce6809, rgb(153, 13, 13));
    background-size: 400% 400%;
}

.imagenesPublicar {
    margin: 15px;
}

.imgg {
    width: 550px;
    height: 500px;

}

.botonsin {
    color: #c9400a;
    background-color: rgba(175, 155, 42, 0.897);
    border-color: #c9400a;
    border-radius: 20px;
    padding: 5px;

    &:hover {
        color: rgba(175, 155, 42, 0.897);
        background-color: #c9400a;
    }
}

.tablaPublicar {
    div {
        display: flex;
        padding: 10px;

        p {
            font-weight: 600;
            
        }
    }
}